@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;700&display=swap');
:root{
    --white: #ddd;
    --dark: #111;
    --darkGrey: #474b4f;
    --lightGrey: #6b6e70;
    --lightGreen: #86c232;
    --darkGreen: #61892f;
    --transition: all 0.5s ease;
    --FontFamily: 'Epilogue', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    font-style: none;
}
body{
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
main >section{
    margin-bottom: 2%;
}
/* Header */
header{
    height: 100vh;
}
/* nav */

.ImgNavBar{
    height: 20vh;
    width: 10vw;
    background-image: url('./img/LogoLight.png');
    background-size: contain;
    background-repeat: no-repeat;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #33333300;
  
  }
  
  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1e1c1c;
    text-decoration: none;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu li {
    list-style: none;
    margin: 0 10px;
  }
  
  .menu li a {
    font-size: 1.2rem;
    font-family: var(--FontFamily);
    font-weight: 700;
    color: var(--darkGrey);
    text-decoration: none;
    transition: all ease,.10s;
  }
  .menu> li>  :hover{
    border-bottom: 2px solid;
  }
  .toggle {
    display: none;
    cursor: pointer;
  }
  
/* textContent */
.ContentHeader{
    width:100%;
    height: 80svh;
    background-image: url('./img/imgHeaderContent.jpg');
    background-size: cover;
    background-position: 20vhw;
    text-align: center;
   
}
.ContentHeader div{
    align-items: center;
   justify-content: space-between;
}
.ContentHeader>p{
    margin-left: 20%;
    margin-right: 20%;
    font-family: var(--FontFamily);
    font-size: 1rem;
    font-weight: 300;
}

/* Services */
#Services{
    height: 100vh;
    background-color: #121111;
    display: flex;
    flex-direction: row;
}
.TextServices{
    
    margin-top: 10%;
    margin-left: 10%;
    color: white;
   
}
.TextServices >h1{
    font-family: var(--FontFamily);
    font-weight: 700;
    
}
.TextServices > p {
    font-family: var(--FontFamily);
}

.SlideServices{
    height: 100vh;
    width: 70vh;
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
}

.NineHeight{
    height: 80vh;
}
.SlideText{
    width: 70vh;
}
.SlideText>h3{
    margin-top: 2%;
    text-align: center;
    font-size: 20px;
    color: #ddd;
}
.SlideText>p{
    font-size: 12px;
    color: #ddd;
}


/* Section One:Information */
.section-one{
    min-height: 100vh;
}
.container{
    display: grid;
    grid-template-areas: 
    "LeftFull RigthInit"
    ;
}
.sec-one-left{
   
    margin-right: 5%;
    grid-area:'LeftFull' ;
    height: 100vh;
    width: 40vw;
    cursor: pointer;
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)), url('/img/SectionLeft.jpg') center/cover no-repeat;
    box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
}
.sec-one-left div{
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 2.5%;  
    margin-bottom: 2%;
}

.sec-one.left >div> h3{
    font-size: 10px;
}
.sec-one-left div p{
    font-weight: 300;
    opacity: 0.8;

}
.sec-one-left >div>  a> button{
    margin-bottom: 5%;
}
.sec-one-right{
   
    width:100%;
    margin-left: 5%;
}
.sec-one-right h1{
    font-family: var(--FontFamily);
    font-weight: 700;
    color: var(--lighGrey);
}
.sec-one-right >h1{
    text-align: center;
}

.sec-one-right p{
    font-family: var(--FontFamily);
    opacity: 0.9;
    font-weight: 300; 
}
.sec-one-right >div>  a> button{
    margin-bottom: 5%;
}
.work-imgs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 2%;
  row-gap: 2%;
   
}
.work-img-1{
   
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)),url('./img/SectionRigthWorkContente1.jpg')center/contain no-repeat;
    height: 50vh;
    width: 20vw;
    transition: var(--transition);
}
.work-img-2{
    height: 50vh;
    width: 20vw;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)),url('./img/SectionRigthWorkContente2.jpg')center/contain no-repeat;

    transition: var(--transition);
}
.work-imgs>h3{
    width: 100%;
   
}
.work-imgs div:hover{
    box-shadow: 0 0 8px #000;
    -webkit-box-shadow:0 0 8px #000;
    -moz-box-shadow:0 0 8px #000;

}


/* Modal Config */
.DisplayModalAll{
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.DisplayTagD{
    width: 12vw;
    background: #4e6cff;
    color: white;
    padding: 2% 2% 2% 2%;
    border-radius: 8px;
    margin-bottom: 2%;
}
.DisplayTagT{
    width: 15vw;
    background: #19191a;
    color: white;
    padding: 2% 2% 2% 2%;
    border-radius: 8px;
    margin-bottom: 2%;
}
.TagModalKm{
    width: 10vw;
    background: #2641cc;
    color: white;
    padding: 2% 2% 2% 2%;
    border-radius: 8px;
    margin-bottom: 2%;

}
.TagModalTotal{
    width: 10vw;
    background: #55565c;
    color: white;
    padding: 2% 2% 2% 2%;
    border-radius: 8px;
    margin-bottom: 2%;

}


/* Politicas da empresas */
.PoliticaEmpresa{
    height: 100vh;
    background-color: #231f1f;
}
.ImgPolitica{
    margin: 0 auto;
    height: 20vh;
    width: 10vw;
    background-image: url('./img/LogoDark.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 2%;
}
.DisplayPolitica{
    display: flex;
    flex-direction: row;
}
.TextPolitica{
    margin-left: 5%;
    width: 45%;
    color: aliceblue;
}
.ListPoliticas{
    width: 100%;
    color: white;
    list-style: none;   
}
.DescriptionPolitica{
  margin-bottom: 2%;
}
.ListPoliticas1{
    width: 40%;
    color: white;
    list-style: none;
    
}
.TextPolitica >h1{
 font-family: var(--FontFamily);
 font-weight: 700;
}


/* Contact */
.section-five{
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.contact-top{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    
}
.contact-top>ul{
    list-style: none;
    gap: 5%;
}
.contact-top h1{
    font-family: var(--FontFamily);
    font-weight: 700;
}
.contact-top >p{
    font-weight: 300;
   
}

.contact-middle{
    margin-right: 5%;
}
.contact-middle div{
 text-align: center; 
 padding: 25px 0;
 background: var(--dark);
 color:#fff;
 margin-bottom: 10%;
}
.contact-middle div span{
    display: block;
}
.contact-icon{
    font-size: 30px;
}
.contact-middle div span:nth-child(2){
    font-size: 18px;
    font-weight: bold;
}
.contact-middle div p{
    font-weight:300 ;
    opacity: 0.7;
}
/* Footer */
footer{
    height: 30vh;
    background-color:#231f1f;
  
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-family: 'Be Vietnam Pro', sans-serif;
    
}
.BannerSobre{
    background-image: url('./img/LogoDark.png');
    width: 5vw;
    height: 5vh;
    background-repeat: no-repeat;
    background-size: contain;
}
footer>div{
    margin-top: 2%;
    margin-left: 2%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2%;
}
footer>span{
    background-color:#231f1f
}


/* Responsive */
@media (max-width:1280px){
    #Services{
        height: 100vh;
    }
    /* Informe */
    .section-one{
        height: 110vh;
    }
    #btnModal{
        width: 20vw;
        
    }
    .PoliticaEmpresa{
        height: 110vh;
    }
    .contact-middle{
        margin-left: 2%;
    }
  
    /* Modal */
    .DisplayTagD{
        width: 30vw; 
    }
    .DisplayTagT{
        width: 40vw;
        margin-left: 2%;
    }
  
    .TagModalKm{
        width: 10vw;
    }
    .TagModalTotal{
        width: 10vw;
    }
}

@media (max-width:1024px){
    header{
        width: 100vw;
    }
    .menu {
        display: none;
      }
      
      .toggle {
        display: block;
        margin-bottom:15vh; 
       
      }
      
      .toggle i {
        font-size: 1.5rem;
        color: #131111;
        
      }
    
      .menu li {
        display: block;
        margin: 10px 0;
      }
    #Services{
        height: 110vh;
    }
    #btnModal{
        width: 20vw;
        
    }
    .PoliticaEmpresa{
        height: 120vh;
    }
    footer>span{
        height: 5vh;
     }
     footer{
        height: 40vh;
     }
    
}

@media (max-width:769px){
    html{
        font-size: 80%;
    }

    header{
        width: 100vw;
    }

    .menu {
        display: none;
    }
      
    .toggle{
        display: block;
        margin-bottom:15vh; 
    }
      
    .toggle i {
    font-size: 1.5rem;
    color: #131111;
    }
    
    .menu li {
    display: block;
    margin: 10px 0;
    }

    .ContentHeader{
    width: 100vw;
    font-size: 10px;
  
    background-size:cover;
    background-repeat: no-repeat;
   
    }
    .PoliticaEmpresa{
    height: 120vh;
    }
    .section-five{
        flex-direction: column;
    }
    .contact-top{
        text-align: center;
    }
    .contact-top>ul>li{
        margin-right: 5%;
    }
    .contact-top >iframe{
        width: 95%;
    }
    .contact-middle>div{
        width: 100%;
    }
    .contact-middle{
        margin-left: 5%;
        margin-top: 10%;
    }
    .work-img-1,.work-img-2{
        height: 60vh;
    }
    footer{
        height: 40vh;
    }
  
}
@media (max-width:425px){
    header{
        width:100vw;
        height:140vh;
    }
    .ContentHeader{
        height: 140vh;
        background-size:cover ;
        background-position: -40vw;
        font-size: 12px;
    }
    #Services{
        height: 150vh;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .TextServices{
        margin-right: 5%;
    }
    .SlideServices{
        width: 90vw;
       margin-left: 10%; 
    }
    .SlideText{
        text-align: center;
        width: 90vw;
    }
    .section-one{
        height: 210vh;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .sec-one-left{
        width: 90vw;         
        margin-bottom: 3%;
    }
    .sec-one-right{
        width: 90%;
        
       text-align: center;
    }
    .work-content>{
        margin-right:10% ;
    }
    .work-img-1,.work-img-2{
        width: 42vw;
    }
    #btnModal{
        width: 42vw;
        
    }
    .PoliticaEmpresa{
        height: 170vh;
        width: 100vw;
    }
    .DisplayPolitica{
        width: 90%;
        flex-direction: column;
    }
    .TextPolitica{
        width: 100%;
        margin-left: 5%;
        
    }
    .ListPoliticas1{
        width: 100%;
        margin-left: 5%;
    }

    .section-five{
        flex-direction: column;
    }
    .contact-top{
        text-align: center;
    }
    .contact-top >iframe{
        width: 95vw;
    }
    .contact-middle{
        margin-right: 5%;
    }
    .contact-middle>div{
        width: 95vw;
    }
    footer{
        height: 50vh;
    }
    .SobreNos{
    display: flex;
    flex-direction: column;
    }
  

}
@media (max-width:375px){
   
    header{
        width:100vw;
        height:120vh;
    }
    .ContentHeader{
    
        height: 120vh;
        background-size:cover ;
        background-position: -54vw;
        font-size: 12px;
    }
    #Services{
        height: 160vh;
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;
    }
    .TextServices{
        margin-right: 5%;
    }
    .SlideServices{
        width: 90vw;
       margin-left: 10%; 
    }
    .SlideText{
        text-align: center;
        width: 90vw;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .sec-one-left{
        width: 90%;
        margin-left: 5%;
        margin-bottom: 3%;
    }
    .sec-one-right{
        margin-top: 5%;
        margin-left: 5%;
    } 
 
    .work-img-1,.work-img-2{
        width: 42vw;
        height: 50vh;
        
    }
    .PoliticaEmpresa{
        width: 100vw;
        height: 160vh;
    }
    .DisplayPolitica{
        height: 130vh;
    }
    .section-five{
        flex-direction: column;
    }
    .contact-top{
        text-align: center;
    }
    .contact-top >iframe{
        width: 100%;
    }
    .contact-middle{
        margin-right: 20%;
    }
    .contact-middle>div{
        width:95vw;
    }
    footer{
        width: 100vw;
        height: 42vh;
    }
    .SobreNos{
        margin-left: 2%;
        width: 100vw;
    }
  
    /* Modal */

    .DisplayTagD{
        width: 35vw; 
    }

    .DisplayTagT{
        width: 50vw;
    }

    .TagModalKm{
        width: 10vw;
    }

    .TagModalTotal{
        width: 10vw;
    }
}